@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
#page #nav .bar #m3 a {
	color: #56C4FF;
}/*改变导航栏当前标签颜色*/
.nav {
	width: 998px;
	height: auto;
	float: left;
	border:thin solid;
	border-color: #56C4FF;
}
.page {
	height: 900px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#page #log a {
	font-family: "幼圆";
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
#page #log a:hover {
	font-family: "幼圆";
	color: #CCCCCC;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.log {
	float: right;
	height: auto;
	width: auto;
	position: relative;
	right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.title {
	font-size: 24px;
	float: none;
	position: relative;
	left: 50px;
}
.hr {
	margin:0;
	padding:0;
	position: relative;
	top: 5px;
	left: 0px;
	right: 49px;
	width: 898px;
	height: 3px;
	background-color: #3399CC;
	border:none;
}
.bar li {
	float: left;
	list-style-type: none;
	left: 10px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bar li a {
	text-decoration: none;
	font-family: "幼圆";
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}
.bar li a:hover {
	color: #0099CC;
}
.content {
	width: 1000px;
	height: auto;
	/*background-color: #56C4FF;*/
	border-style: none;
	border-width: thin;
	float: left;
}

/*从这开始改*/
.search {
	width: 998px;
	height: 88px;
	border-style: solid;
	border-width: 1px;
	margin-top: 30px;
	border-color: #56C4FF;
}
.text{
	font-size:21px;
	font-weight:bold;
	width:130px;
	margin-left:30px;
	position:relative;
	top:33px;
	float:left;
	}
.input{
	float:left;
	width:450px;
	}
.district{
	border:thin solid #56C4FF;
	width:150px;
	font-size:22px;	
	margin-top:30px;
	}
.option{
	font-size:20px;
	}
.station{
	border:thin solid #56C4FF;
	width:250px;
	font-size:22px;	
	margin-top:30px;
	margin-left:20px;
	}
.submit{
		font-size: 20px;
	background-color: #0099CC;
	border-style: solid;
	border-width:0px;
	height: 30px;
	width: 100px;
	margin-top:30px;
	}
.submit:hover{
	cursor:pointer;
	}
.map{
	margin-top:10px;
	margin-left:151px;
	margin-right:152px;
	height:400px;}
.city,.this-city{
	font-family:"Microsoft YaHei UI";
	font-size:20px;
	}
.city{
	float:left;
	margin-top:30px;
	margin-left:30px;
	}
.this-city{
	font-weight:bold;
	}
	
