@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
#page #nav .bar #m1 a {
	color: #99CC33;
}/*改变导航栏当前标签颜色*/
.nav {
	width: 998px;
	height: auto;
	float: left;
	border: thin solid #99CC33;
}
.title {
font-size: 24px;
float: none;
position: relative;
left: 50px;
}
.page {
	height:585px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.content {
	width: 998px;
	height: auto;
	border-color: #99CC66;
	border-style: none solid none solid;
	border-width: thin;
	float: left;
}
.news {
	height: 330px;
	width: 494px;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-color:#99CC33;
}
.news-content {
	text-decoration: none;
	color: #000;
	font: "Microsoft YaHei UI";
	font-size: 20px;
	position:relative;
	top:10px;
	bottom:10px;
	margin-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	width:490px;;
	float:left;
}
.newx-content:hover {
	color: #00C;
}
.slide-pic{
	width:495px;
	height:330px;}