@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
#bd {
margin: 0 auto;
width: 960px;
padding-top: 30px;
}
.register_box {
border: solid 1px #e9e9e9;
margin-bottom: 16px;
background: #fff;

}
.register_box .head{ 
  background: url(../pic/register_btn.png) 0 0 ;
  height: 37px;
	line-height: 37px;
	border-bottom: solid 1px #eaeaea;
	padding-right: 10px;
}
.register_box .head h3{ 
	font-size: 18px;
	font-weight: normal;
	padding-left: 18px;
	_font-weight: bold;
	font-family: 'Microsoft YaHei';
}
.register_box .body {
padding: 25px 0 0;
height: 500px;
position: relative;
}
.register_box table .t {
font-size: 16px;
width: 275px;
padding-right: 10px;
text-align: right;
vertical-align: top;
color: #404040;
padding-top: 15px;
font-family: 'Microsoft YaHei';
_line-height: 24px;
}

.register_box table td {
padding: 10px 0;
position: relative;
}
.register_box .text {
border: 1px solid #7f9db9;

float: left;
width: 216px;
margin-right: 10px;
padding: 7px 10px;
line-height: 18px;
outline: 0 none;
}
.register_box .v {
border: solid 1px #e2e2e2;
vertical-align: middle;

}
.register_box .btn_login {
display: inline-block;
border: 0;
width: 240px;
height: 36px;
cursor: pointer;
  background: url(../pic/register_btn.png) no-repeat 0 -37px;
}
.register_box .cue, .register_box .prompt {
border: solid 1px #ffb8b8;
background: #fef2f2;
color: #f40000;
display: inline-block;
float: left;
line-height: 32px;
padding: 0 4px;	
margin-right: 5px;
overflow: hidden;
}
.register_box .v_box {
display: block;
clear: both;
padding-top: 10px;
}
.register_box .msg_level span {
background-color: #b9b9b9;
color: #fff;
display: inline-block;
height: 14px;
line-height: 14px;
margin-left: 1px;
text-align: center;
width: 42px;
_height: 13px;
_padding-top: 2px;
_overflow: hidden;
_margin-top: -16px;
}
.register_box .msg_level .s1 {
background-color: #ffc6a0;
}
.register_box .msg_level .s2 {
background-color: #ffa568;
}
.register_box .msg_level .s3 {
background-color: #ff8e42;
}