a{-moz-outline-style:none;outline:none}body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
table,
table th,
table td,
table tr,input{margin:0;padding:0}body,button{font:12px \5b8b\4f53,tahoma,arial,sans-serif;font-family:Arial;background-color:#fff;color:#666}body{_background-image:url(http://img-cdn2.paixie.net/skin/images/blank.jpg);_background-attachment:fixed}html,body{min-width:980px}.yh{font-family:微软雅黑}input,select,textarea,label{font:12px arial}input[type="submit"],input[type="reset"],input[type="button"],button{-webkit-appearance:none}h1,h2,h3,h4,h5,h6{font-size:100%}ul,ol{list-style:none}a{text-decoration:none;color:#666;cursor:pointer}img{border:0}table{border-collapse:collapse;border-spacing:0}.hidden{display:none}.clear{clear:both;height:0px;overflow:hidden;float:none}.w980{width:980px;margin:0
auto}a.blue{color:#014CCC}.org{color:#FF4F30}.textcen{text-align:center}.blue-text,a.blue-text{color:#014CCC}a.blue-text:hover{text-decoration:underline}.sizeConversion{width:780px;border:3px
solid #f30;position:absolute;top:0;left:50%;margin-left:-403px;z-index:999999;background:#fff;padding:12px;display:none}a.converterClose{display:block;position:absolute;top:10px;right:12px;width:12px;height:12px;background-position:-456px -184px;overflow:hidden;text-indent:-999px}.sizeConversion
ul{width:778px;height:30px;border:1px
solid #DADADA;background:#F8F8F8;margin:5px
auto 0 auto;padding-top:3px}.sizeConversion ul
li{padding-left:28px;line-height:25px}.size_title{height:21px;overflow:hidden;border-bottom:1px solid #d4d4d4;background:#fff none;margin-bottom:10px}.size_title
i{display:block;width:169px;height:22px;overflow:hidden;text-indent:-999px;background-position:-157px -525px}table.size-table{width:780px;margin-bottom:10px;color:#888;font-family:\5B8B\4F53;font-size:12px}table.size-table-last{margin-bottom:0}table.size-table
th{background:#E2E2E2;border:1px
solid #fff;height:34px;line-height:34px}table.size-table
td{border:1px
solid #fff;border-top-width:0;border-left-width:0;height:34px;line-height:34px;text-align:center;background:#F8F8F8;cursor:default}table.size-table
td.hover{background:#eee}table.size-table
td.fist{width:110px;border-left-width:1px;background:#F3F1F1;text-align:left;text-indent:20px;cursor:default}.ad1200{display:none;margin:5px
auto auto auto;overflow:hidden;_position:relative}.ad1200
img{display:block;margin:auto}.ad1200
a{text-align:center;display:block;width:1200px;margin:auto;_overflow:hidden}.ad980{display:block;margin:5px
auto auto auto;width:980px}.area980{display:block}.area980inline{display:inline}.area1200{display:none}.area1200inline{display:none}.js-header-is-auto{display:none;height:0;overflow:hidden;width:0;margin:0;padding:0}#js-top-ad-max-1200{display:none}#js-top-ad-max-980{display:block}.send-phone-verify div a,
.send-phone-verify h3
a{background:url(/template/images/public/send-phone-verify.gif?1379174461) no-repeat}.send-phone-verify{border:1px
solid #cacaca;width:288px;height:163px;background:#fff;position:absolute;left:50%;margin-left:-145px;font-size:12px}.send-phone-verify
h3{background:#f9f9f9;color:#666;font-weight:bold;padding:0;margin:0;padding-left:10px;line-height:32px;height:32px;border-bottom:1px solid #cacaca;position:relative}.send-phone-verify h3
a{position:absolute;width:11px;height:11px;top:10px;right:10px;cursor:pointer;overflow:hidden}.send-phone-verify h3 a:hover{background-position:-16px 0}.send-phone-verify
p{line-height:30px;padding-left:18px;vertical-align:middle;height:30px;margin:0;margin-top:20px}.send-phone-verify p
span{float:left}.send-phone-verify
img{float:left;width:102px;height:30px;background:#000;border:0;vertical-align:middle;margin-left:10px;cursor:pointer}.send-phone-verify
input{float:left;width:82px;height:16px;padding:6px
5px;margin:0;border:1px
solid #8a8a8a;border-right:1px solid #8a8a8a;border-bottom:1px solid #cecece}.send-phone-verify
div{line-height:28px;padding-left:65px}.send-phone-verify div
span{color:red;height:28px;display:block}.send-phone-verify div
a{display:block;height:31px;width:78px;margin-top:5px;background-position:0 -16px;cursor:pointer}.send-phone-verify div a:hover{background-position:-83px -16px}.img80{width:80px;height:80px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/8080.gif?1381201227) no-repeat center center}.img120{width:120px;height:120px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/120120.gif?1381201223) no-repeat center center}.img160{width:160px;height:160px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/160160.gif?1381201223) no-repeat center center}.img180{width:180px;height:180px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/180180.gif?1381201226) no-repeat center center}.img220{width:220px;height:220px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/220220.gif?1381201223) no-repeat center center}.img320{width:320px;height:320px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/320320.gif?1381201224) no-repeat center center}.img480{width:480px;height:480px;text-align:center;font-size:0;background:url(/template/images/public/shoeloading/480480.gif?1381201228) no-repeat center center}.img80 *,
.img120 *,
.img160 *,
.img180 *,
.img220 *,
.img320 *,
.img480
*{vertical-align:middle;border:0}.img80 dfn,
.img120 dfn,
.img160 dfn,
.img180 dfn,
.img220 dfn,
.img320 dfn,
.img480
dfn{height:100%;display:inline-block}a.public_goodimg8060,.public_goodimg8060{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:52.38px;background:url(/template/images/public/shoeloading/8080.gif?1381201227) no-repeat center center}a.public_goodimg8060 img,.public_goodimg8060
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:52.38px;+display:inline-block}a.public_goodimg12090,.public_goodimg12090{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:78.57px;background:url(/template/images/public/shoeloading/120120.gif?1381201223) no-repeat center center}a.public_goodimg12090 img,.public_goodimg12090
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:78.57px;+display:inline-block}a.public_goodimg160120,.public_goodimg160120{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:104.76px;background:url(/template/images/public/shoeloading/160160.gif?1381201223) no-repeat center center}a.public_goodimg160120 img,.public_goodimg160120
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:104.76px;+display:inline-block}a.public_goodimg180135,.public_goodimg180135{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:117.855px;background:url(/template/images/public/shoeloading/180180.gif?1381201226) no-repeat center center}a.public_goodimg180135 img,.public_goodimg180135
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:117.855px;+display:inline-block}a.public_goodimg220165,.public_goodimg220165{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:144.045px;background:url(/template/images/public/shoeloading/220220.gif?1381201223) no-repeat center center}a.public_goodimg220165 img,.public_goodimg220165
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:144.045px;+display:inline-block}a.public_goodimg480360,.public_goodimg480360{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:314.28px;background:url(/template/images/public/shoeloading/480480.gif?1381201228) no-repeat center center}a.public_goodimg480360 img,.public_goodimg480360
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:314.28px;+display:inline-block}a.public_goodimg8080,.public_goodimg8080{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:69.84px;+display:block;width:80px;height:80px;background:url(/template/images/public/shoeloading/8080.gif?1381201227) no-repeat center center}a.public_goodimg8080 img,.public_goodimg8080
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:69.84px;+display:inline-block}a.public_goodimg120120,.public_goodimg120120{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:104.76px;+display:block;width:120px;height:120px;background:url(/template/images/public/shoeloading/120120.gif?1381201223) no-repeat center center}a.public_goodimg120120 img,.public_goodimg120120
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:104.76px;+display:inline-block}a.public_goodimg160160,.public_goodimg160160{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:139.68px;+display:block;width:160px;height:160px;background:url(/template/images/public/shoeloading/160160.gif?1381201223) no-repeat center center}a.public_goodimg160160 img,.public_goodimg160160
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:139.68px;+display:inline-block}a.public_goodimg180180,.public_goodimg180180{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:157.14px;+display:block;width:180px;height:180px;background:url(/template/images/public/shoeloading/180180.gif?1381201226) no-repeat center center}a.public_goodimg180180 img,.public_goodimg180180
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:157.14px;+display:inline-block}a.public_goodimg220220,.public_goodimg220220{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:192.06px;+display:block;width:220px;height:220px;background:url(/template/images/public/shoeloading/220220.gif?1381201223) no-repeat center center}a.public_goodimg220220 img,.public_goodimg220220
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:192.06px;+display:inline-block}a.public_goodimg480480,.public_goodimg480480{text-align:center;display:table-cell;vertical-align:middle;+font-family:Arial;+font-size:419.04px;+display:block;width:480px;height:480px;background:url(/template/images/public/shoeloading/480480.gif?1381201228) no-repeat center center}a.public_goodimg480480 img,.public_goodimg480480
img{vertical-align:middle;display:block;margin-left:auto;margin-right:auto;+font-family:Arial;+font-size:419.04px;+display:inline-block}.com-login-register{top:0;z-index:151;width:392px;left:50%;margin-left:-197px;background:#fff;border:1px
solid #dadada;position:absolute}.com-login-register
p{border-bottom:1px solid #dadada;padding:0;margin:0
30px;height:30px;text-align:center;padding-top:25px}.com-login-register
a.close{position:absolute;top:13px;right:15px;color:#cdcdcd;width:15px;height:15px;line-height:15px;text-align:center;font-family:"宋体"}.com-login-register a.close:hover{text-decoration:none;color:red}.com-login-register p
a{display:inline-block;vertical-align:top;margin-top:5px;border:1px
solid #dadada;margin-bottom:-1px;line-height:24px;padding:0
25px;background:#f5f5f5;color:#575757;font-family:微软雅黑;font-weight:bold;font-size:14px}.com-login-register p a:hover{text-decoration:none}.com-login-register p
a.selected{margin-top:1px;line-height:28px;border-bottom-color:#fff;color:#f60;background:#fff}.com-login-register
div{background:url(http://img-cdn2.paixie.net/images/loading.gif) center center no-repeat #fff;position:absolute;top:56px;left:0;right:0;bottom:0}body{background:#f5f5f5 !important;color:#333;overflow-y:scroll}.f24{font-size:24px !important}.f20{font-size:20px !important}.f18{font-size:18px !important}.f16{font-size:16px !important}.f14{font-size:14px !important}input::-ms-clear,input::-ms-reveal{display:none}a{color:#08c}a,input,select,textarea{outline:none}a:hover{text-decoration:underline}.orange{color:#f60}.green{color:#009100}.red{color:#c00}.gray{color:#666}.ko-loading{display:none !important}.login-header a.logo,
.login-content .input-button,
.login-content .base-close,
.login-content .base-ok,
.login-content .base-error,
.login-content .base-error-max,
.login-content .base-ok-max,
.login-content .base-refresh,
.login-area .other-login p a,

.login-area .username i,
.login-area .password
i{background-image:url(../pic/login.3.0.png?1425363336);_background-image:url(../pic//login.3.0.gif?1425363335);background-repeat:no-repeat}.login-header{margin:31px
auto;width:980px}.login-header
a.logo{width:214px;height:86px;background: url("../pic/logo.png") no-repeat;display:inline-block;vertical-align:middle}.login-header
h1{display:inline-block;vertical-align:middle;font-size:20px;font-weight:normal;padding-left:10px}.login-footer{line-height:20px;padding:30px
0;text-align:center;color:#668686}.login-header
h1{*display:inline}.login-content{width:978px;border:1px
solid #dadada;background:#fff;margin:0
auto;-moz-box-shadow:3px 3px 3px #EFEFEF;-webkit-box-shadow:3px 3px 3px #EFEFEF;-ms-box-shadow:3px 3px 3px #EFEFEF;box-shadow:3px 3px 3px #EFEFEF}.login-content
select{height:40px;padding:10px
10px 10px 5px;font-size:14px;margin:5px;display:inline-block;vertical-align:middle;width:292px;border:1px
solid #dadada;color:#333;*height:auto}.login-content .base-refresh{cursor:pointer;background-position:-98px 0;width:15px;height:15px;display:inline-block;vertical-align:middle}.login-content .base-ok-max{width:29px;height:40px;display:inline-block;vertical-align:middle;background-position:-78px -21px;margin-bottom:-11px}.login-content .base-ok{width:15px;height:16px;display:inline-block;vertical-align:middle;background-position:-78px 0;+margin-top:10px}.login-content .base-error{width:15px;height:16px;display:inline-block;vertical-align:middle;background-position:-159px -30px}.login-content .base-error-max{width:40px;height:40px;display:inline-block;vertical-align:middle;background-position:-114px -30px}.login-content .base-loading{width:16px;height:16px;display:inline-block;vertical-align:middle;background:url(/template/images/login/loading.gif?1400816978)}.login-content .base-close{display:inline-block;vertical-align:middle;width:10px;height:10px;overflow:hidden;background-position:-78px -106px}.login-content .base-close:hover{background-position:-93px -106px}.login-content .input-text{border:1px
solid #dadada;display:inline-block;vertical-align:middle;background:#fff;width:274px;position:relative;height:20px;padding:8px;line-height:20px;overflow:hidden;outline:none;margin:5px;font-size:14px}.login-content .input-text135{width:119px}.login-content .input-text:focus{border-color:#6cb8df;box-shadow:0 0 1px 0px #7fcaf1}.login-content .input-text-error{border-color:#e46666;box-shadow:0 0 1px 0px #f37c7c}.login-content .base-text{border:1px
solid #dadada;display:inline-block;vertical-align:middle;background:#fff;width:290px;position:relative;height:36px;line-height:36px;margin:5px}.login-content .base-text{*display:inline}.login-content .base-text
span{padding-left:5px;position:absolute;top:0;left:0;color:#b7b7b7;font-size:14px}.login-content .base-text
input{border:0
none;background:url(http://img-cdn2.paixie.net/images/empty.gif);padding:8px
28px 8px 0;line-height:20px;overflow:hidden;width:257px;margin-left:5px;position:absolute;left:0;top:0;outline:none;color:#333;font-size:14px}.login-content .base-text .base-close{position:absolute;top:13px;right:9px;cursor:pointer;display:none}.login-content .base-text-error{border-color:#e46666;box-shadow:0 0 1px 0px #f37c7c}.login-content .base-text-focus{border-color:#6cb8df;box-shadow:0 0 1px 0px #7fcaf1}.login-content .base-text-has-content
input{background:#fff}.login-content .base-text-focus2 .base-close,
.login-content .base-text-focus .base-close{display:inline-block}.login-content .base-text-focus
span{color:#ccc}.login-content .base-text135{width:135px}.login-content .base-text135
input{width:102px}.login-content .orange-button-mini,
.login-content .orange-button{line-height:40px;height:40px;background:#f60;color:#fff;font-size:14px;display:inline-block;border-radius:2px;padding:0
10px;text-align:center;margin:5px;vertical-align:middle;cursor:pointer;border:0
none;position:relative}.login-content .orange-button-mini-disable,
.login-content .orange-button-disable{background:#ff8c40;cursor:default}.login-content .orange-button-mini{font-size:12px;line-height:26px;height:26px;padding:0
17px;border-radius:0}.login-content .orange-button:hover{text-decoration:none;background:#FF8C40}.login-content .orange-button-mini:hover{text-decoration:none;background:#FF7D26}.login-content .blue-button{line-height:40px;height:40px;background:rgb(126,194,21);color:#fff;font-size:14px;display:inline-block;border-radius:2px;padding:0
10px;text-align:center;margin:5px;vertical-align:middle;cursor:pointer;border:0
none;position:relative}.login-content .blue-button-disable{background:#2999e4;cursor:default}.login-content .blue-button:hover{text-decoration:none;background:rgb(126,180,21)}.login-content .input-button{line-height:35px;height:35px;color:#333;font-size:14px;display:inline-block;border-radius:2px;padding:0
10px;text-align:center;margin:5px;vertical-align:middle;cursor:pointer;border:1px
solid #dadada;height:35px;background-position:0 -120px;position:relative}.login-content .input-button:hover{text-decoration:none;background:#F5F5F5}.login-content .input-button-disable{background:#f5f5f5;cursor:default}.login-content .v-ok,
.login-content .v-info,
.login-content .v-error,
.login-content .v-text{display:inline-block;line-height:36px;height:36px;border:1px
solid #fff;padding:0
8px;vertical-align:middle;color:#666}.login-content .v-ok,
.login-content .v-info,
.login-content .v-error,
.login-content .v-text{*display:inline}.login-content .v-ok{padding:0}.login-content .v-info{background:#eef9ff;border-color:#ddf3ff}.login-content .v-error{background:#fdeaea;border-color:#f9dddd}.login-content .v-text{padding:0}.login-content .codearea .v-ok
i{display:none}.password-strength{width:292px;overflow:hidden}.password-strength
span{width:96px;margin-right:1px;float:left;line-height:14px;height:14px;background:#ffd099;color:#fff;text-align:center}.password-strength
span.last{width:98px;margin-right:0}.password-strength
span.now{background:#f60}.login-area{padding:30px
63px 30px 63px;overflow:hidden;height:362px;overflow:hidden}.login-area .ad img,
.login-area
.ad{width:480px;height:300px;float:left;border:0;margin:0}.login-area
.ad{margin-top:37px}.login-area
.form{overflow:hidden}.login-area .form
p{overflow:hidden;line-height:20px;padding:8px
0}.login-area .form p span,
.login-area .form p
a{float:right;+margin-top:-20px;_margin-top:-28px}.login-area .form p
strong{font-weight:normal}.login-area .form p
span{color:#b7b7b7;margin-right:10px}.login-area
.form{float:right;width:292px}.login-area .form
img{border:1px
solid #996;display:inline-block;vertical-align:middle;margin:0
2px}.login-area .base-text{margin:0}.login-area .v-ok,
.login-area .v-error,
.login-area .v-info,
.login-area .v-text{display:block;line-height:28px;border:0;height:28px;padding:0;background:#fff}.login-area .v-ok{text-indent:9999px}.login-area .v-error{color:#dd5044}.login-area .orange-button{display:block;margin:14px
0 0 0}.login-area .auto-login{line-height:20px;height:20px;color:#b7b7b7}.login-area .auto-login
a{float:right;+margin-top:-20px}.login-area .auto-login
input{display:inline-block;vertical-align:middle}.login-area .other-login{color:#b7b7b7;padding-top:14px;line-height:24px}.login-area .other-login
p{padding:5px
0 0 3px;overflow:hidden;margin-right:-11px}.login-area .other-login p
a{float:left;width:20px;height:19px;overflow:hidden;margin-right:10px;margin-top:0}.login-area .other-login p
a.qq{background-position:0 -251px}.login-area .other-login p
a.alipay{background-position:-25px -251px}.login-area .other-login p
a.sina{background-position:-49px -251px}.login-area .other-login p
a.renren{background-position:-77px -251px}.login-area .other-login p
a.netease{background-position:-101px -251px}.login-area .other-login p
a.xunlei{background-position:-125px -251px}.login-area .other-login p
a.baidu{background-position:-149px -251px}.login-area .other-login p
a.qh360{background-position:-173px -251px}.login-area .other-login p
a.weixin{background-position:-197px -251px}.login-area .other-login p
a.wanlitong{background-position:-221px -251px}.login-area .other-login p a.qq:hover{background-position:0 -275px}.login-area .other-login p a.alipay:hover{background-position:-25px -275px}.login-area .other-login p a.sina:hover{background-position:-49px -275px}.login-area .other-login p a.renren:hover{background-position:-77px -275px}.login-area .other-login p a.netease:hover{background-position:-101px -275px}.login-area .other-login p a.xunlei:hover{background-position:-125px -275px}.login-area .other-login p a.baidu:hover{background-position:-149px -275px}.login-area .other-login p a.qh360:hover{background-position:-173px -275px}.login-area .other-login p a.weixin:hover{background-position:-197px -275px}.login-area .other-login p a.wanlitong:hover{background-position:-221px -275px}.login-area .username input,
.login-area .password
input{margin-left:35px;width:227px}.login-area .username span,
.login-area .password
span{margin-left:30px}.login-area .password i,
.login-area .username
i{position:absolute;top:1px;left:0;height:34px;width:34px;z-index:1}.login-area .password
i{background-position:0 -40px;top:0}.login-area .base-text-focus
i.username{background-position:-39px 0}.login-area .base-text-focus
i.password{background-position:-39px -40px}.login-content-dialog .login-area{height:auto}.login-content-dialog .login-area .form
p{display:none}.login-content-dialog .login-area .orange-button{margin-top:14px}.login-content-dialog .login-area .other-login
p{display:block}.login-content-dialog .login-area{padding:30px
50px;width:292px}.login-content-dialog .login-area
.ad{display:none}.login-content-dialog .login-area .other-login{padding-top:30px}.login-content-dialog .login-area .other-login
p{padding-top:15px}.register-area{padding:40px
30px 58px 30px;overflow:hidden}.register-area
.form{width:670px;float:left;border-right:1px dashed #d2d2d2}.register-area .form .base-text{margin:14px
5px}.register-area .form
label{width:80px;font-size:14px;display:inline-block;text-align:right}.register-area .form .input-button{margin-left:0;width:128px}.register-area .form
img{border:1px
solid #996;display:inline-block;vertical-align:middle;margin:0
7px 0 2px}.register-area .form .base-refresh{margin-right:63px}.register-area .v-ok,
.register-area .v-error,
.register-area .v-info,
.register-area .v-text{width:271px;margin-left:-6px}.register-area .v-ok{margin-left:0;width:265px}.register-area .v-text{display:none}.register-area .password-strength{margin-left:85px;margin-top:-14px}.register-area .blue-button{width:272px;margin:14px
0 0 85px}.register-area .agreement
label{line-height:22px;width:auto;margin:0
0 0 85px;text-align:left;font-size:12px;color:#878787}.register-area .agreement
input{display:inline-block;vertical-align:middle}.register-area
.side{color:#919191;line-height:40px;float:left;display:inline;margin-left:30px}.register-area .side
a{display:inline-block;vertical-align:middle;width:100px;height:25px;line-height:25px;color:#fff;text-indent:30px;letter-spacing:2px;margin-bottom:4px}.register-area .codearea .v-error{background:none;border:none;color:red;display:block;line-height:14px;height:14px;margin-top:-14px;margin-left:77px;height:14px !important;width:500px}.login-content-dialog .register-area .codearea .v-error{margin:0;line-height:28px;height:28px !important}.login-content-dialog .register-area
.side{display:none}.login-content-dialog .register-area{padding:30px
50px}.login-content-dialog .register-area
.form{border:0;width:292px}.login-content-dialog .register-area .form
label{display:none}.login-content-dialog .register-area .agreement
label{display:inline-block;margin-left:0;line-height:20px}.login-content-dialog .register-area .blue-button{margin:14px
0 0 0}.login-content-dialog .register-area .form .base-text{margin:0}.login-content-dialog .register-area .v-ok,
.login-content-dialog .register-area .v-error,
.login-content-dialog .register-area .v-info,
.login-content-dialog .register-area .v-text{display:block;line-height:28px;border:0;height:28px;padding:0;background:#FFF;margin-left:0}.login-content-dialog .register-area .v-ok{position:relative}.login-content-dialog .register-area .v-ok .base-ok{position:absolute;top:-27px;right:-50px}.login-content-dialog .register-area .v-info,
.login-content-dialog .register-area .v-text{text-indent:-99999px}.login-content-dialog .register-area .v-error{color:#dd5044}.login-content-dialog .register-area .password-strength{margin-left:0;margin-top:-28px;float:left}.login-content-dialog .register-area
.passwordinfo{display:block}.login-content-dialog .register-area .passwordinfo2 .v-ok,
.login-content-dialog .register-area .passwordinfo2 .v-error,
.login-content-dialog .register-area .passwordinfo2 .v-info,
.login-content-dialog .register-area .passwordinfo2 .v-text{margin-top:14px;line-height:14px;height:14px}.login-content-dialog .register-area .form .input-button{margin-left:5px;margin-right:0}.forget-area{padding:40px
100px;height:340px;overflow:hidden;position:relative}.forget-area .ko-loaded{display:none}.forget-area .ko-loading{position:absolute;top:76px;background:#fff;width:774px;height:304px;z-index:1;display:block !important}.forget-area .ko-loading
img{position:absolute;left:50%;margin-left:-16px;top:50%;margin-top:-16px;width:32px;height:32px}.forget-area
.steps{line-height:28px;color:#bcbcbc;overflow:hidden}.forget-area .steps
span{float:left;width:256px;margin-right:3px;border-bottom:8px solid #e4e4e4;font-size:14px}.forget-area .steps
span.now{font-size:16px;color:#ff8533;border-color:#feb280}.forget-area .steps
span.end{color:#333}.forget-area select,
.forget-area .base-text{margin:14px
5px}.forget-area .text-field{height:38px;line-height:38px}.forget-area .text-field .input-button{width:124px}.forget-area .text-field
span.orange{display:inline-block;vertical-align:middle;margin:0
5px;width:132px;height:38px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.forget-area .form
*{+zoom:1}.forget-area .form .ko-loading{display:none !important}.forget-area .form
label{width:100px;font-size:14px;display:inline-block;text-align:right;margin-left:95px;vertical-align:middle}.forget-area .form
img{border:1px
solid #996;display:inline-block;vertical-align:middle;margin:0
7px 0 2px}.forget-area .form .base-refresh{margin-right:62px}.forget-area .form .orange-button{width:136px;margin-left:200px;margin-top:14px}.forget-area .v-ok,
.forget-area .v-error,
.forget-area .v-info,
.forget-area .v-text{width:265px;margin-left:-6px}.forget-area .v-ok{margin-left:0}.forget-area .codearea .v-error{display:block;background:none;color:red;border:0;height:14px;line-height:14px;margin:-7px 0 -7px 193px}.forget-area .email-send-ok{text-align:center;margin-top:90px}.forget-area .password-strength{margin-top:-14px;margin-left:200px}.forget-area .set-error,
.forget-area .set-ok{text-align:center;margin-top:100px;line-height:20px}.forget-area .set-ok
span{vertical-align:middle}.forget-area .set-ok .input-button{width:120px}.forget-area .set-error
i{margin-bottom:-16px}.joint-area{padding:40px
100px}.joint-area
.steps{line-height:28px;color:#bcbcbc;overflow:hidden}.joint-area .steps
span{float:left;width:256px;margin-right:3px;border-bottom:8px solid #e4e4e4;font-size:14px}.joint-area .steps
span.now{font-size:16px;color:#ff8533;border-color:#feb280}.joint-area .steps
span.end{color:#333}.joint-area
.info{padding:6px
15px;line-height:30px;border:1px
dashed #e4e4e4;margin-top:16px;margin-bottom:5px}.joint-area p
label{font-weight:bold;font-size:16px;display:block;line-height:30px;cursor:pointer}.joint-area .form .base-text{margin:14px
5px}.joint-area .form
label{width:80px;font-size:14px;display:inline-block;text-align:right;vertical-align:middle}.joint-area .form .blue-button,
.joint-area .form .orange-button{width:272px;margin:14px
0 20px 85px}.joint-area .v-ok,
.joint-area .v-error,
.joint-area .v-info,
.joint-area .v-text{width:384px;margin-left:-6px}.joint-area .v-ok{margin-left:0}.joint-area .v-text{display:none}.joint-area .codearea .v-error{display:block;background:none;color:red;border:none;line-height:20px;height:20px;margin:-10px 0 -10px 78px}.joint-area .password-strength{margin-top:-14px;margin-left:85px}.joint-area .form .input-button{margin-left:0;width:127px}.joint-area .form
img{border:1px
solid #996;display:inline-block;vertical-align:middle;margin:0
7px 0 2px}.joint-area .form .base-refresh{margin-right:62px}.login-success-area{padding:40px
75px}.login-success-area .input-button{width:130px}.login-success-area
.info{border:1px
solid #d0e4c2;background:#fcfffa;padding:13px
36px;margin-top:5px;line-height:40px}.login-success-area
.nickname{line-height:48px}.login-success-area .nickname .base-text{width:200px}.login-success-area .nickname .base-text
input{width:167px}.login-success-area .nickname .v-ok .base-ok{display:none}.login-success-area
.sended{line-height:18px;padding:5px
0;width:700px}.login-success-area .sended .orange-button-mini{margin:15px
0 0 0}.login-success-area .sended
p{display:inline-block;vertical-align:middle;line-height:24px;height:24px;padding:0
7px;border-radius:0;background:#eaeaea;border:1px
solid #dadada;color:#838383;margin-top:15px}.login-success-area .sended
p.error{border-color:#f9dddd;background:#fdeaea;color:#db4437}.login-success-area .sended
p{*display:inline}.login-success-area .sended p
i{margin-top:-2px}.login-success-area .v-ok,
.login-success-area .v-error,
.login-success-area .v-info,
.login-success-area .v-text{width:500px;margin-left:5px;border:0;background:none;line-height:18px;height:18px;margin:0
0 5px 67px;display:block}.login-success-area .v-error{color:red}.login-success-area .base-ok{+margin-top:0}.login-success-area .v-text{text-indent:-99999px}.login-success-area .info .v-ok,
.login-success-area .info .v-error,
.login-success-area .info .v-info,
.login-success-area .info .v-text{margin-bottom:-8px}.login-footer-dialog,.login-header-dialog{display:none}.login-content-dialog{border:0;-moz-box-shadow:none;-webkit-box-shadow:none;-ms-box-shadow:none;box-shadow:none;width:auto;display:inline-block}#iframe-login-callback{height:0;width:0;border:0;position:absolute;top:0}