@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
#page #nav .bar #m2 a {
	color: #009966;
}/*改变导航栏当前标签颜色*/
.page {
	height: 900px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#page #log a {
	font-family: "幼圆";
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
#page #log a:hover {
	font-family: "幼圆";
	color: #CCCCCC;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.log {
	float: right;
	height: auto;
	width: auto;
	position: relative;
	right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.nav {
	width: 998px;
	height: auto;
	float: left;
	border: thin solid #3399CC;
}
.title {
	font-size: 24px;
	float: none;
	position: relative;
	left: 50px;
}
.hr {
	position: relative;
	top: 5px;
	left: 49px;
	right: 49px;
	width: 900px;
	height: 3px;
	background-color: #3399CC;
}
.bar li {
	float: left;
	list-style-type: none;
	left: 10px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
}
.bar li a {
	text-decoration: none;
	font-family: "幼圆";
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}
.bar li a:hover {
	color: #0099CC;
}
.content {
	width: 1000px;
	height: 490px;
	background-color: #CCCCCC;
	border-style: none;
	border-width: thin;
	float: left;
}
.copyright {
	width: 1000px;
	height: 105px;
	float: left;
	background-color: #CCCCCC;
	text-align: center;
	border-width:thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #000;
}
IMG {
	BORDER-RIGHT-WIDTH: 0px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px
}
#page #copyright p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	top: 20px;
	position: relative;
}
.search {
	width: 299px;
	height: 500px;
	float: left;
	border-right:solid;
	border-width:1px;
	background-color:#99CC99;
}
.map {
	width: 700px;
	height: 500px;
	position: relative;
	left: 0px;
	right: 0px;
	float: left;
}
.s-box1 {
	height: 69px;
}
.s-box2 {
	height: 70px;
}
.s1 {
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top: 35px;
	padding-left: 10px;
}
.input {
	border-style: solid;
	height: 30px;
	width: 200px;
	font-size: 18px;
	position: relative;
	left: 50px;
	top: 18px;
	border-width:1px;
}
.button {
	font-size: 20px;
	background-color: #0099CC;
	border-style: solid;
	border-width:0px;
	height: 30px;
	width: 100px;
	position: relative;
	left: 100px;
	top: 5px;
}
.button:hover{
	cursor:pointer;
	}
