@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
.page {
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
}
#title a {
	text-decoration: none;
	color: #000;
	position: relative;
	left: 200px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 18px;
}
.title {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
}
